* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav {
  height: 70px;
  width: 100%;
  background-color: rgba(96, 96, 96, 0.88);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.currency {
  display: flex;
  color: #ffffff;
}
.currency div {
  margin-left: 40px;
}


.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


